In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df = pd.read_csv('taxi_zone_lookup.csv', nrows = 100)

In [ ]:
from sqlalchemy import create_engine
connection_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(connection_string)

In [ ]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

In [ ]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=1000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df

In [ ]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='taxi_zone_lookup',con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.to_sql(name='taxi_zone_lookup',con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))